*{
    background-color: transparent;
    color: white;
    font-family: serif;
}
body{
    background-color: black;
}
header {
    background-color: red;
    margin: 0px 10px 15px 10px;
    font-size: 17px;
    color: white;
    padding: 5px 0 10px 20px;
    align-content: flex-start; /* Check to see if this does anything later */
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

nav h1 {
    margin-top: 3px;
}
header nav {
    display:inline;
}
header nav li{
    border-color: white;
    display: inline;
    margin: 14px;
}

nav ul {
    display: flex;
    flex: 1 0 300px ;
    justify-content: right;
    align-content: flex-end;
    margin-top: -30px;
}
nav a {
    color: white;
}
main{
    display:block;
    border: 2px solid yellow;
}

section h2{
    font-size: 20px;
}
.card{
    display: flex;
    color: white;
    border: 2px solid orange;
    margin: 10px;
}

.cardName{
    display: flex;
    /* border: 2px solid blueviolet; */
    width: 15%;
    justify-content: center;
    flex: 0 0 200px;
    align-items: center;
}

.cardBody{
    display: flex;
    background-color: red;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
}

.cardBody img{
    display: block;
    padding-right: 25px;
}
.aboutMeText{
    border: 2px solid blue;
    padding: 25px 0px 0px 0px;
}
.aboutMe{
    display: flex;
    border: 2px solid rgb(0, 255, 157);
    background-color: red;
    border-radius: 15px;
    padding: 10px;
}
.projectOuterBox{
    display: block;
    border: 2px solid blueviolet; 
    margin-top: 1px;
    margin-left: 40px;
    margin-right: 40px;
    width: 100%;
    
}
.projectBanner a img{
    padding: 10px
}

.projectBanner img{
    padding: 10px
}
.heroProject{
    /* border: 2px solid cyan; */
    /* width: 100%;
    height: 200px; */
    
}
img.heroBanner{
    visibility: visible;
    max-width: 100%;
    max-height: 100%;
    padding: 0px 8%;
    
 }
 .projectBannerText{
    text-align: center;
    margin-top: 12px;
    margin-bottom: 3px;

 }
.projects{
    display:flex;
    flex-wrap: wrap;
    border: 2px solid black;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
}
.projectInnerBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.projectBanner{
    /* border: 2px solid white; */
    width: 40%;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 2px;
    flex: 0 0 300px;
    padding-bottom: 100px;
}

.contactMeOuterBox{
    display: flex;
    /* border: 2px solid blueviolet;  */
    margin-top: 1px;
    margin-left: 40px;
    margin-right: 40px;
    width: 100%;
}

.contactMeCard p{
    display: block;
    margin-top: 10px;
    font-size: 20px;
    width: 100%;
}

.contactMeCard p a{
    font-size: 18px;
}
.contactMeCard{
    display: flex;
    /* border: 2px solid white; */
    margin-top: 5px;
    margin-bottom: 5px;
    /* flex: 0 0 15%; */
    font-size: 22px;
    width: 100%;
}
.contactMeHeader{
    display: block;
    /* border: 3px solid pink; */

}
footer h3{
    background-color: red;
    margin: 0px 10px 15px 10px;
    font-size: 13px;
    color: white;
    padding: 5px 0 10px 20px;
    align-content: flex-start; /* Check to see if this does anything later */
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    text-align: center;
}