*{
    background-color: transparent;
    color: white;
}
body{
    background-color: black;
}
header {
    background-color: red;
    margin: 0px 10px 15px 10px;
    font-size: 17 px;
    color: white;
    padding: 5px 0 10px 20px;
    align-content: flex-start; /* Check to see if this does anything later */
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    font-family: serif;
}

header p {
    margin-top: 3px;
}
header nav {
    display:inline;
}
header nav li{
    border-color: white;
    display: inline;
    margin: 14px;
}

header ul {
    display: flex;
    flex: 1 0 300px ;
    justify-content: right;
    align-content: flex-end;
    margin-top: -30px;
}
header a {
    color: white;
}
main{
    display:block;
    border: 2px solid yellow;
}
.card{
    display: flex;
    color: white;
    border: 2px solid orange;
    margin: 10px;
}

.cardName{
    display: flex;
    border: 2px solid blueviolet;
    width: 15%;
    justify-content: center;
    flex: 0 0 200px;
    align-items: center;
}

.cardBody{
    display: flex;
    background-color: red;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
}

.aboutMeText{
    border: 2px solid blue;
    padding: 25px 0px 0px 0px;
}
.aboutMe{
    display: flex;
    border: 2px solid rgb(0, 255, 157);
    background-color: red;
    border-radius: 15px;
    padding: 10px;
}
.projectOuterBox{
    display: block;
    border: 2px solid blueviolet; 
    margin-top: 1px;
    margin-left: 40px;
    margin-right: 40px;
    width: 100%;
}
.heroProject{
    border: 2px solid cyan;
    width: 100%;
    height: 200px
}
.projects{
    display:flex;
    flex-wrap: wrap;
    border: 2px solid black;
    justify-content: space-between;
    margin-top: 10px;
}
.projectBanner{
    border: 2px solid white;
    width: 48%;
    height: 100px;
    margin-top: 10px;
}